/* The integration's default injected base.css file */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  * {
    @apply text-pretty;
  }

  /* Глобальный ограничитель ширины контейнера */
  .main-max-width {
    @apply px-[24px];
    max-width: 1240px;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply leading-none lg:leading-relaxed;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  }

  h1 {
    @apply font-bold text-3xl lg:text-5xl !important;
  }

  h2 {
    @apply my-[12px] lg:my-[24px] font-semibold text-2xl lg:text-4xl !important;
  }

  h3 {
    @apply font-semibold text-xl lg:text-2xl !important;
  }

  p,
  ul,
  li {
    @apply text-lg;
  }

  .hero-title {
    @apply lg:text-5xl uppercase tracking-[0.10rem] !important;
  }

  .hero-description {
    @apply pt-3 w-fit max-w-[100%] font-medium text-lg text-zinc-400 lg:text-xl !important;
  }

  .post-title {
    @apply mb-4 w-full md:max-w-[75%] font-bold text-3xl lg:text-4xl break-words !important;
  }

  .separator {
    @apply block bg-gradient-to-r h-[2px] w-[100%] mx-auto border-0 rounded-sm
  }

  .silver {
    @apply from-zinc-300
  }

  .gold {
    @apply from-primary-300
  }

  .text-gold {
    @apply bg-clip-text bg-gradient-to-b from-primary-400 via-primary-100 to-primary-400 text-transparent;
  }

  .text-silver {
    @apply bg-clip-text bg-gradient-to-b from-zinc-400 via-zinc-100 to-zinc-500 text-transparent;
  }

  .table-wrapper {
    @apply w-full overflow-x-auto lg:overflow-x-visible;
    @apply relative;
  }

  table {
    @apply mt-[32px] w-full min-w-[800px] lg:min-w-0;
  }

  .fixed-column {
    @apply lg:relative left-0 z-10 sticky bg-zinc-950 lg:bg-zinc-950/0;
    @apply after:top-0 after:right-0 after:absolute after:bg-zinc-800 lg:after:w-[0px] after:w-[1px] after:h-full;
  }

  thead {
    @apply border-zinc-800 border-b-2 uppercase;
  }

  thead tr th:first-child {
    @apply text-left text-primary-300;
  }

  thead tr th {
    @apply pb-4 text-center;
  }

  thead tr th h2 {
    @apply m-0 font-semibold text-xl text-zinc-300;
  }

  thead tr th span {
    @apply text-sm text-zinc-300;
  }

  tbody tr {
    @apply border-zinc-900 border-b last:border-none;
  }

  tbody tr td {
    @apply px-4 py-4 text-center;
  }

  tbody tr td:first-child {
    @apply pr-2 pl-0 text-left text-primary-300;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100dvh;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}