/* The integration's default injected base.css file */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply text-pretty select-none;
    box-sizing: border-box;
  }

  /* Добавляем стили для фокуса */
  *:focus-visible {
    @apply rounded-sm outline-none ring-2 ring-primary-400 ring-offset-2 ring-offset-zinc-950;
  }

  /* Убираем стандартный браузерный outline */
  *:focus {
    outline: none;
  }

  a:hover {
    cursor: pointer !important;
  }

  /* Глобальный ограничитель ширины контейнера */
  .main-max-width {
    @apply px-[24px];
    max-width: 1240px;

    &.no-padding {
      @apply px-0 !important;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    @apply leading-none lg:leading-relaxed;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  }

  h1 {
    @apply font-bold text-3xl lg:text-5xl !important;
  }

  h2 {
    @apply my-[12px] lg:my-[24px] font-semibold text-2xl lg:text-4xl !important;
  }

  h3 {
    @apply font-semibold text-xl lg:text-2xl !important;
  }

  p,
  ul,
  li {
    @apply text-[16px] leading-[1.6rem];
  }

  .hero-title {
    @apply lg:text-5xl uppercase tracking-[0.10rem] !important;
  }

  .medium-heading {
    @apply font-medium text-2xl lg:text-4xl !important;
  }

  .hero-description {
    @apply pt-3 w-fit max-w-[100%] font-medium text-zinc-400 text-lg lg:text-xl !important;
  }

  .separator {
    @apply block bg-gradient-to-r h-[2px] w-[100%] mx-auto border-0 rounded-sm
  }

  .silver {
    @apply from-zinc-300
  }

  .gold {
    @apply from-primary-300
  }

  .text-gold {
    @apply bg-clip-text bg-gradient-to-b from-primary-400 via-primary-100 to-primary-400 text-transparent;
  }

  .text-silver {
    @apply bg-clip-text bg-gradient-to-b from-zinc-400 via-zinc-100 to-zinc-500 text-transparent;
  }

  .table-wrapper {
    @apply w-full overflow-x-auto lg:overflow-x-visible;
    @apply relative;
  }

  table {
    @apply mt-[32px] w-full;
  }

  .fixed-column {
    @apply lg:relative left-0 z-10 sticky bg-zinc-950 lg:bg-zinc-950/0;
    @apply after:top-0 after:right-0 after:absolute after:bg-zinc-800 lg:after:w-[0px] after:w-[1px] after:h-full;
  }

  thead {
    @apply border-zinc-800 border-b-2 uppercase;
  }

  thead tr th:first-child {
    @apply text-primary-300 text-left;
  }

  thead tr th {
    @apply pb-4;
  }

  thead tr th span {
    @apply text-zinc-300 text-sm;
  }

  tbody tr {
    @apply border-zinc-900 border-b last:border-none;
  }

  tbody tr td {
    @apply px-4 py-3;
    vertical-align: top;
  }

  tbody tr td:first-child {
    @apply pr-6 pl-0 text-primary-300 text-left;
  }

  /* Контроль переноса текста для всех текстовых блоков */
  p,
  h1,
  h2,
  h3,
  h4,
  div,
  span {
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 100%;
  }

  .support-card {
    @apply flex flex-col gap-3 bg-zinc-900/40 hover:bg-lime-400/10 p-4 border border-zinc-800 hover:border-lime-400 rounded-[8px] transition-all;

    .icon {
      @apply w-12 h-12 text-lime-400;
    }
  }
}

html,
body {
  min-height: 100dvh;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}